@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F5F6F8;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  /* padding: 0 20px; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.menu-list {
  display: flex;
  gap: 30px;
}

.menu-list li a {
  color: #70668c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-list li a:hover {
  color: #ff7373;
  border-bottom: #ff7373 3px solid;
}

.buttons {
  display: flex;
  gap: 16px;
}

.logout {
  display: none;
}

.menu {
  display: none;
}

.buttons .btn {
  width: 117px;
  height: 46px;
  border-radius: 8px;
  background: linear-gradient(90deg, #ff7373, #cd2525);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.lang {
  border: none;
  outline: none;
  color: #64748b;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: transparent;
}

.hero .content {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;
}

.hero .content h2 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  color: #64748B;
}

.hero .content span {
  color: #FFC900;
  text-transform: uppercase;
  border-bottom: #FFC900 3px solid;
}

.hero .content p {
  font-size: 20px;
  font-weight: 400;
  color: #64748B;
  line-height: 140%;
}

.hero button {
  width: 203px;
  height: 62px;
  border-radius: 8px;
  background: linear-gradient(90deg, #ff7373, #cd2525);
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  color: white;
  margin-top: 40px;
}

.hero img {
  width: 500px;
  height: auto;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-img {
  margin-top: 150px;
  margin-left: 80px;
  width: 300px;
  height: auto;
}




.services{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carts{
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
  right: 0;
  left: -250px;
  gap: 20px;
}

.carts .cart{
  width: 742px;
  height: 580px;
  padding: 30px 25px;
  background-color: white;
  border-radius: 8px;
}

.carts .cart-side{
  width: 628px;
  height: 491px;
  padding: 30px 25px;
  background-color: white;
  border-radius: 7px;
}

.carts .cart-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carts .cart-content p {
  font-size: 16px;
  font-weight: 400;
  color: #64748B;
  line-height: 150%;
  word-spacing: 5px;
}

.carts .cart-content p{
  font-size: 16px;
  font-weight: 400;
  color: #64748B;
  line-height: 150%;
  word-spacing: 10px;
}

.carts .cart-content img{
  width: 690px;
  height: 305px;
  border-radius: 8px;
}

.carts .cart-side img{
  width: 584px;
  height: 258px;
  border-radius: 8px;
}
.text {
  display: none;
}



@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    max-width: 700px;
  }

  .menu {
    display: block;
  }

  .logout{
    display: block;
  }

  .navbar {
    align-items: center;
    padding: 60px 0;
  }

  .menu-list {
    display: none;
  }

  .buttons {
    display: none;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero .content {
    margin-top: 50px;
    gap: 16px;
  }

  .hero .content h2 {
    font-size: 36px;
  }

  .hero .content p {
    font-size: 16px;
  }

  .hero img {
    width: 100%;
    max-width: 500px;
    margin-top: 80px;
    height: auto;
  }

  .hero button {
    display: none;
  }

  .services {
    position: relative;
    align-items: center;
    text-align: center;
  }

  .carts {
    position: absolute;
    align-items: center;
    align-items: end;
    overflow: hidden;
    right: 0;
    left: 0px;
    gap: 20px;
  }

  .carts .cart-content p {
    font-size: 6px;
    font-weight: 400;
    color: #64748B;
    line-height: 150%;
    word-spacing: 5px;
  }

  .carts .cart,
  .carts .cart-side {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .carts .cart-content img,
  .carts .cart-side img {
    width: 100%;
    height: auto;
  }


  .add-img img{
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }






  .text {
    display: block;
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #64748B;
    line-height: 150%;
    word-spacing: 5px;
  }
}
